
.web-body{
  display: flex;
  justify-content: space-between;
}

.image-container{
 justify-content: flex-end;
}

.text-container{

  justify-content: flex-start;

}
.image{
  height: 100%;
}

.text1{
  font-size: 5rem;
  font-weight: bold;
  color: #000000;
  padding-top: 100px;
  padding-left: 40px;
}
.text2{
  font-size: 3rem;
  color: #000000;
  padding-left: 40px;
}
.section {
  display: flex; /* Use flexbox for centering */
  flex-direction: column;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  background-color: #8498ad;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 40px;
  width: 60%;
  height: 5rem;
  cursor: pointer;
}

.text3{
  font-size: 30px;
  align-items: center;
}



.chat-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.chat-icon {
  background-color: #1469a1;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
